<html>
<head>
<title>Pig Latin Assignment</title>
</head>
<body>
    <h1>Random Fact</h1>
    <p>{{ fact }}</p>
    <p><a href={{ link }}>Click here for the pig latin translation!</a></p>
</body>
</html>